body {

    background-image: linear-gradient(to right, lightblue , white , white , white , white , lightblue);

}

h1 {
    font-family: 'Comfortaa', cursive;
}

h2 {
    font-family: 'Special Elite', cursive;
}

h3 {
    font-family: 'Special Elite', cursive;
}

p {
    font-family: 'Comfortaa', cursive;
}